<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
      <img mat-card-image src="assets/images/1000051980.jpg" alt="Furnley House Logo" class="logo">
      <mat-card-title>Forgot Your Password?</mat-card-title>
      <mat-card-content>
        <p>Enter your email address below and we’ll send you instructions to reset your password.</p>
        <form>
          <mat-form-field appearance="fill" class="emailId">
            <mat-label>Email address</mat-label>
            <input matInput type="email" placeholder="Email address" required>
          </mat-form-field>
          <div class="sign-in-button-container">
          <button mat-raised-button color="primary" type="submit">Send Reset Link</button>
          </div>
          <div class="backToLogin">
            <a class="back-to-login" routerLink="/authentication/signin">Back to Login</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>