.header {
    position: fixed;
    top: 0;
    left: 288px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .user-photo {
    width: auto;
    max-width: 60px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 82px;
    margin-left: 15px;
    margin-bottom: 8px;
  }
  
  .icons {
    margin-left: 100px;
    margin-top: -55px;
  }
  
  .icon-spacing {
    margin-right: 16px;
  }
  
  .invest {
    font-weight: bold;
  }
  
  .small-text {
    font-size: 0.67em;
    color: rgb(8, 8, 8);
    font-weight: normal;
  }
  