<div class="layout-container">
        <mat-sidenav-container class="sidenav-container">
          <mat-sidenav mode="side" opened class="sidenav">
            <div class="profile-info">
              <img src="assets/images/1000051980.jpg" alt="Furnley House Logo" class="logo1">
              <!-- <img src="assets\images\1000051980-removebg-preview.png" alt="Furnley House Logo" class="logo1"> -->
              <div class="avatar-container">
              </div>
            </div>
            <mat-nav-list>
              <mat-list-item class="nav-item" (click)="home()">
                <mat-icon class="home0">home</mat-icon>
                <span class="home1">Home</span>
              </mat-list-item>
              <mat-list-item class="nav-item" (click)="saveAndNext()">
                <mat-icon class="info0">business</mat-icon>
                <span class="info1">
                  Financial Planning Tools<br>
                  <p style="margin: 0;">Investment Forecaster</p>
                </span> 
              </mat-list-item>
              <div class="progress-container"></div>
            </mat-nav-list>
          </mat-sidenav>
      
          <mat-sidenav-content>
            <div>
              <div class="header">
                <div class="user-info">
                  <h2 class="invest">Investment Forecaster <br><span class="small-text">for use with AI Structured Income Portfolios</span></h2>
                </div>
                <div class="actions">
                  <div class="logo">
                    <img src="assets/images/images.jpg" alt="User Photo" class="user-photo">
                  </div>
                  <div class="icons">
                  <mat-icon class="icon-spacing">settings</mat-icon>
                  <mat-icon class="icon-spacing">notifications</mat-icon>
                  <mat-icon matTooltip="Logout" matTooltipPosition="above" (click)="logout()"  class="icon-spacing">exit_to_app</mat-icon>
                </div>
                </div>
              </div>
            </div>
            <div class="content">
              <router-outlet></router-outlet>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>