.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  /* background-color: #1e2a38; */
  overflow: hidden;
}

.login-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 55px;
  max-width: 330px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 275px;
  margin-bottom: 18px;
  margin-left: 0px;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: -75px;
}

.mat-form-field {
  width: 100%;
}

.emailId,
.passwordId {
  width: 100%;
}

.remember-forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.forgot-password {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.forgot-password:hover {
  text-decoration: underline;
}

.sign-in-button-container {
  margin-top: 30px;
}

.sign-in-button-container button {
  background-color: #273f41;
  color: white;
}

.sign-in-button-container button:hover {
  background-color: #02282b;
}

.sign {
  margin-right: 8px;
}

.mat-form-field-outline {
  border-radius: 8px;
}

.mat-form-field-outline-thick .mat-form-field-outline-start,
.mat-form-field-outline-thick .mat-form-field-outline-end {
  border-radius: 8px;
}

.mat-form-field-outline-thick .mat-form-field-outline {
  border-width: 2px;
  border-color: #ccc;
}
.full-width-button {
  width: 100px;
  background-color: #273f41;
  color: white;
}

.full-width-button:hover {
  background-color: #02282b;
}