<mat-sidenav mode="side" opened class="sidenav">
    <div class="profile-info">
      <img src="assets\images\Furnley House white logo.png" alt="Furnley House Logo" class="logo1">
      <div class="avatar-container"></div>
    </div>
    <mat-nav-list>
      <mat-list-item class="nav-item" (click)="home()">
        <mat-icon class="home0">home</mat-icon>
        <span class="home1">Home</span>
      </mat-list-item>
      <mat-list-item class="nav-item"  (click)="saveAndNext()">
        <mat-icon class="info0">business</mat-icon>
        <span class="info1">
          Financial Planning Tools<br>
          <p style="margin: 0;font-size: 0.89em;">Investment Forecaster</p>
        </span>
      </mat-list-item>
      <div class="progress-container"></div>
    </mat-nav-list>
  </mat-sidenav>
  