.sidenav {
    width: 250px;
    background-color: #1e2a38;
    color: #fff;
    overflow-y: auto;
    position: fixed;
  }
  
  .profile-info {
    text-align: center;
    padding: 20px;
  }
  
  .profile-info .logo1 {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4%;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
  }
  
  .nav-item:hover {
    background-color: rgb(218, 190, 36);
  }
  
  .home1, .home0, .info0, .info1 {
    color: white;
  }
  
  .info1 {
    margin-left: 30px;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: -35px;
  }
  